<% if user_signed_in? %>

<div class="containter-fluid">
  <div class="row-fluid" id="pageHeader">
    <div class="span12" style="height:750px; background-color:white; color:black; padding-top:20px; padding-left: 20px">

<%= render 'form2' %>

<%= link_to 'Go back', leagues_path %>

</div>
</div>
</div>
<% end %>